#s-01116084-c277-4abd-9f1e-1a01b34b3bc7 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-01116084-c277-4abd-9f1e-1a01b34b3bc7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}