#s-0fae4eb4-400c-47a0-a2cb-ce89b6003a26 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-0fae4eb4-400c-47a0-a2cb-ce89b6003a26 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}