#s-28744ed8-ff4a-4c92-97a6-fa6bc60d27e3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28744ed8-ff4a-4c92-97a6-fa6bc60d27e3 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-28744ed8-ff4a-4c92-97a6-fa6bc60d27e3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}