#s-2c791922-c952-48b5-a1fc-f0dd6150b117 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-2c791922-c952-48b5-a1fc-f0dd6150b117 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}