#s-8df8f978-0776-438e-b3fe-250fd2b97f76 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-8df8f978-0776-438e-b3fe-250fd2b97f76 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}