#s-c6808be5-3948-463f-b287-a9051b2afcee #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c6808be5-3948-463f-b287-a9051b2afcee #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c6808be5-3948-463f-b287-a9051b2afcee #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c6808be5-3948-463f-b287-a9051b2afcee #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c6808be5-3948-463f-b287-a9051b2afcee #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-c6808be5-3948-463f-b287-a9051b2afcee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}