#s-080852d4-45a2-449e-9757-38638fe3942d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-080852d4-45a2-449e-9757-38638fe3942d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}