#s-30434c7f-7ac6-4950-8f36-7ba406a9e7b1 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-30434c7f-7ac6-4950-8f36-7ba406a9e7b1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}