#s-79be020d-37ae-45d8-b13a-dc874838234e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-79be020d-37ae-45d8-b13a-dc874838234e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}