#s-9ecfa96f-44ff-4e54-9b83-cb3093f7e1df #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-9ecfa96f-44ff-4e54-9b83-cb3093f7e1df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}