#s-afcf4a51-1345-4643-a8c6-ce7e47cec316 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-afcf4a51-1345-4643-a8c6-ce7e47cec316 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}