#s-c0986243-8985-4e28-a78d-3c7380bfa5fb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-c0986243-8985-4e28-a78d-3c7380bfa5fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}