#s-0e9cd6d5-cbda-4525-93aa-e054a7274c78 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-0e9cd6d5-cbda-4525-93aa-e054a7274c78 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}