#s-15b433ad-64b2-4486-9452-160468973612 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-15b433ad-64b2-4486-9452-160468973612 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}