#s-99f20218-66c3-4631-9d73-f308cce1d7b4 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-99f20218-66c3-4631-9d73-f308cce1d7b4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}