#s-c6808be5-3948-463f-b287-a9051b2afcee #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-c6808be5-3948-463f-b287-a9051b2afcee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}