#s-e1c3b26b-7a6e-4d6a-94d0-c0728134abd5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-e1c3b26b-7a6e-4d6a-94d0-c0728134abd5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}