#s-f1470dfd-e81f-4b43-a7dc-2e3c5105f2f1 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-f1470dfd-e81f-4b43-a7dc-2e3c5105f2f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}